@import url(https://code.cdn.mozilla.net/fonts/fira.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px; /* 45-90 characters */
    margin: auto;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px; /* 15-25 pixel */
    font-weight: 400; /* normal */
    line-height: 1.45em; /* 120-145% of the font size*/
    position: relative;
    overflow-y: scroll; /* always show vertical scroll bar */
}

main {
    width: 700px;
    margin-left: 300px;
    padding-top: 70px;
    padding-bottom: 50px;
}

aside {
    width: 300px;
    position: absolute;
    left: 0;
    padding-right: 50px;
    text-align: right;
}

aside p {
    font-size: 90%;
    font-style: italic;
    font-weight: 300; /* light */
    line-height: 1.35em;
}

h1 {
    font-size: 160%;
    font-weight: 700; /* bold */
    line-height: 1.65em;
    margin-bottom: 0.4em;
    padding-top: 0.2em;
    border-top: solid 3px #800000;
}

h2 {
    font-size: 130%;
    font-weight: 600; /* semi-bold */
    line-height: 1.55em;
    margin-bottom: 0.2em;
}

p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    background: #ffe6e6;
    border-radius: 4px;
    transition: background 0.2s;
}

a::after {
    content: "\FEFF°";
    color: #800000;
}

ul, ol {
    margin-bottom: 1em;
    list-style-position: inside;
}

.marker-position-outside {
    list-style-position: outside;
}

li::marker {
    color: #800000;
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}

code {
    font-family: 'Fira Mono';
    font-size: 80%;
    font-weight: 400;
    line-height: 1.4em;
}

pre {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;
}

.social-icon::after {
    content: none;
}

.social-icon {
    font-size: 130%;
    font-weight: 600; /* semi-bold */
    margin-right: 0.5em;
}

.social-icon:last-child {
    margin-right: 0;
}

.portrait {
    width: 150px;
    border-radius: 10%;
    margin-bottom: 1em;
}
