@import "./normalize.css";
@import "./colors.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@media screen and (min-width: 415px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 415px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: var(--bg);
    color: var(--tx);
    margin: auto;
    padding: 4rem 1.5rem 4rem;
    max-width: 45rem;
    min-height: 80vh;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    line-height: 1.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--cyan);
    background-color: var(--bg-2);
    transition-property: background;
    transition-duration: 0.2s;
    border-radius: 4px;
}

a:after {
    position: relative;
    content: "\FEFF°";
    margin-left: 0.05rem;
    font-size: 90%;
    top: -0.1rem;
    color: var(--cyan);
    font-feature-settings: "caps";
    font-variant-numeric: normal;
}

hr {
    color: var(--ui);
}
