@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

html {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}

@media screen and (min-width: 415px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 415px) {
    html {
        font-size: 16px;
    }
}

body {
    max-width: 40rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
    background-color: #2c2c2c;
    color: #e5e5e5;
}

section {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: #2fafff;
}

a:hover {
    text-decoration: underline;
}

#portrait {
    width: 9rem;
    border-radius: 50%;
    float: right;
}
