@import url(./normalize.css);

html {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

body {
    max-width: 40rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.3rem;
    color: #1f0800;
    background-color: #fcfcf7;
}

section {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
    background: rgba(251, 202, 174, 0.5);
}

a:hover {
    text-decoration: none;
    background: #fdc7ac;
    transition: background 0.2s;
}

li::marker {
    color: #800000;
}

#name-tag {
    padding-left: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 4rem;
}

#name-tag-pic {
}

#portrait {
    width: 10rem;
}

#name-tag-info {
    display: flex;
    flex-direction: column;
}
